<html>
<head>
<title>Display Page</title>
<style>
h1
{
font-style: italic;
color: yellow;
text-align: center;
background-color: red;
border-style: solid;
border-color: black;
border-width: medium;
padding: 100px 100px 100px 100px;
height: 100px;
width: 70%;
}
body
{
background-color: white;
margin: auto;
width: 60%;
padding: 200px;
}
</style>
</head>
<body>
<b><h1>"ERROR!! This Username is already exist. Choose another username."</h1></b>
<b><a href = '/' >Click here to Go Back</a></b>
</body>
</html>